In [1]:
import requests

In [2]:
standings_url = "https://www.sports-reference.com/cfb/schools"

In [3]:
data = requests.get(standings_url)

In [4]:
from bs4 import BeautifulSoup

In [5]:
soup = BeautifulSoup(data.text)

In [6]:
standings_table = soup.select('table.stats_table')[0]

In [7]:
links = standings_table.find_all('a')

In [8]:
links = [l.get("href") for l in links]

In [9]:
links = [l for l in links if 'schools' in l]

In [10]:
team_urls = [f"https://sports-reference.com{l}" for l in links]

In [11]:
schedule = ['2021-schedule.html', '2022-schedule.html', '2023-schedule.html']

gamelog = ['2021/gamelog/', '2022/gamelog/', '2023/gamelog/']

In [12]:
schedule_urls = [i + schedule[0] for i in team_urls]

In [13]:
schedule_url = schedule_urls

In [14]:
schedule_url[0]

'https://sports-reference.com/cfb/schools/air-force/2021-schedule.html'

In [15]:
len(schedule_url)

301

In [16]:
data = requests.get(schedule_url[0])

In [17]:
import pandas as pd

games = pd.read_html(data.text, match="Games")

C:\Users\parke\AppData\Local\Temp\ipykernel_31724\2224478326.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  games = pd.read_html(data.text, match="Games")

In [18]:
games[0].rename(columns = {'Unnamed: 5':'Location'}, inplace = True)
games[0].rename(columns = {'Unnamed: 8':'Outcome'}, inplace = True)
games[0]['Location'] = games[0]['Location'].fillna('H')
games[0] = pd.concat([games[0]], keys=['Game Info'], axis=1)
games[0]

   Game Info                                                   \
           G          Date      Time  Day     School Location
0          1   Sep 4, 2021   2:00 PM  Sat  Air Force        H
1          2  Sep 11, 2021   3:30 PM  Sat  Air Force        @
2          3  Sep 18, 2021   7:30 PM  Sat  Air Force        H
3          4  Sep 25, 2021   8:00 PM  Sat  Air Force        H
4          5   Oct 2, 2021   6:30 PM  Sat  Air Force        @
5          6   Oct 9, 2021   7:00 PM  Sat  Air Force        H
6          7  Oct 16, 2021   9:00 PM  Sat  Air Force        @
7          8  Oct 23, 2021   7:00 PM  Sat  Air Force        H
8          9   Nov 6, 2021  11:30 AM  Sat  Air Force        N
9         10  Nov 13, 2021   7:00 PM  Sat  Air Force        @
10        11  Nov 19, 2021   9:00 PM  Fri  Air Force        @
11        12  Nov 26, 2021   3:30 PM  Fri  Air Force        H
12        13  Dec 28, 2021   3:15 PM  Tue  Air Force        N

                                                                   \
                Opponent       Conf Outcome Pts Opp   W  L Streak
0              Lafayette  Non-Major       W  35  14   1  0    W 1
1                   Navy   American       W  23   3   2  0    W 2
2             Utah State        MWC       L  45  49   2  1    L 1
3       Florida Atlantic       CUSA       W  31   7   3  1    W 1
4             New Mexico        MWC       W  38  10   4  1    W 2
5                Wyoming        MWC       W  24  14   5  1    W 3
6            Boise State        MWC       W  24  17   6  1    W 4
7   (22) San Diego State        MWC       L  14  20   6  2    L 1
8                   Army        Ind       L  14  21   6  3    L 2
9         Colorado State        MWC       W  35  21   7  3    W 1
10                Nevada        MWC       W  41  39   8  3    W 2
11      Nevada-Las Vegas        MWC       W  48  14   9  3    W 3
12            Louisville        ACC       W  31  28  10  3    W 4


                                                Notes
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                  Globe Life Park - Arlington, Texas
9                                                 NaN
10                                                NaN
11                                                NaN
12  First Responder Bowl (Gerald J. Ford Stadium -...

In [19]:
gamelogs = [i + gamelog[0] for i in team_urls]

In [20]:
gamelogs[0]

'https://sports-reference.com/cfb/schools/air-force/2021/gamelog/'

In [21]:
data = requests.get(gamelogs[0]).text.replace('<!--', '').replace('-->', '')

In [27]:
offGameLog = pd.read_html(data, match="Offensive Game Log Table")
offGameLog

C:\Users\parke\AppData\Local\Temp\ipykernel_31724\989337064.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  offGameLog = pd.read_html(data, match="Offensive Game Log Table")

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Date Unnamed: 2_level_1
 0                 1.0         2021-09-04                NaN
 1                 2.0         2021-09-11                  @
 2                 3.0         2021-09-18                NaN
 3                 4.0         2021-09-25                NaN
 4                 5.0         2021-10-02                  @
 5                 6.0         2021-10-09                NaN
 6                 7.0         2021-10-16                  @
 7                 8.0         2021-10-23                NaN
 8                 9.0         2021-11-06                  N
 9                10.0         2021-11-13                  @
 10               11.0         2021-11-19                  @
 11               12.0         2021-11-26                NaN
 12               13.0         2021-12-28                  N
 13                NaN           13 Games                NaN

    Unnamed: 3_level_0 Unnamed: 4_level_0 Passing                      ...  \
              Opponent             Result     Cmp  Att   Pct   Yds TD  ...
 0           Lafayette          W (35-14)       3    5  60.0    50  0  ...
 1                Navy           W (23-3)       3   10  30.0    49  0  ...
 2          Utah State          L (45-49)       6   12  50.0   182  1  ...
 3    Florida Atlantic           W (31-7)       2    5  40.0    70  0  ...
 4          New Mexico          W (38-10)       1    2  50.0    33  0  ...
 5             Wyoming          W (24-14)       7   10  70.0   110  1  ...
 6         Boise State          W (24-17)       1    5  20.0    59  0  ...
 7     San Diego State          L (14-20)       5   15  33.3    67  1  ...
 8                Army          L (14-21)      13   23  56.5   226  1  ...
 9      Colorado State          W (35-21)       4   11  36.4   121  2  ...
 10             Nevada          W (41-39)       1    5  20.0    23  0  ...
 11   Nevada-Las Vegas          W (48-14)       0    0   NaN     0  0  ...
 12        Louisville*          W (31-28)       9   10  90.0   252  2  ...
 13                NaN                NaN      55  113  48.7  1242  8  ...

    Total Offense First Downs               Penalties      Turnovers
              Avg        Pass Rush Pen  Tot       No.  Yds       Fum Int Tot
 0            5.8           3   21   0   24         5   45         0   0   0
 1            3.3           3   10   1   14         5   38         0   0   0
 2            8.5           5   16   2   23         5   30         1   1   2
 3            6.6           2   21   1   24         3   15         0   0   0
 4            5.9           2   20   2   24         6   55         0   0   0
 5            4.3           6   13   1   20         1    5         1   0   1
 6            5.4           1   17   1   19         4   43         1   0   1
 7            4.1           3   10   2   15         3   28         1   1   2
 8            5.7          10   12   0   22         4   30         0   1   1
 9            6.4           2   23   1   26         4   46         0   1   1
 10           5.7           1   25   0   26         7   80         1   0   1
 11           7.4           0   26   0   26         5   55         0   0   0
 12           6.5           9   11   1   21         3   35         0   0   0
 13           5.8          47  225  12  284        55  505         5   4   9

 [14 rows x 26 columns]]

In [28]:
defGameLog = pd.read_html(data, match="Defensive Game Log")
defGameLog

C:\Users\parke\AppData\Local\Temp\ipykernel_31724\513140508.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  defGameLog = pd.read_html(data, match="Defensive Game Log")

[   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Date Unnamed: 2_level_1
 0                 1.0         2021-09-04                NaN
 1                 2.0         2021-09-11                  @
 2                 3.0         2021-09-18                NaN
 3                 4.0         2021-09-25                NaN
 4                 5.0         2021-10-02                  @
 5                 6.0         2021-10-09                NaN
 6                 7.0         2021-10-16                  @
 7                 8.0         2021-10-23                NaN
 8                 9.0         2021-11-06                  N
 9                10.0         2021-11-13                  @
 10               11.0         2021-11-19                  @
 11               12.0         2021-11-26                NaN
 12               13.0         2021-12-28                  N
 13                NaN           13 Games                NaN

    Unnamed: 3_level_0 Unnamed: 4_level_0 Passing                       ...  \
              Opponent Unnamed: 4_level_1     Cmp  Att   Pct   Yds  TD  ...
 0           Lafayette          W (35-14)      18   29  62.1   243   1  ...
 1                Navy           W (23-3)       3   10  30.0    32   0  ...
 2          Utah State          L (45-49)      31   50  62.0   448   5  ...
 3    Florida Atlantic           W (31-7)      11   33  33.3    78   0  ...
 4          New Mexico          W (38-10)      14   23  60.9   179   1  ...
 5             Wyoming          W (24-14)      11   28  39.3   143   1  ...
 6         Boise State          W (24-17)      23   36  63.9   259   1  ...
 7     San Diego State          L (14-20)      11   13  84.6    72   0  ...
 8                Army          L (14-21)       8   13  61.5   214   1  ...
 9      Colorado State          W (35-21)      13   22  59.1   173   0  ...
 10             Nevada          W (41-39)      26   43  60.5   340   4  ...
 11   Nevada-Las Vegas          W (48-14)       8   18  44.4   127   0  ...
 12        Louisville*          W (31-28)      13   22  59.1   207   1  ...
 13                NaN                NaN     190  340  55.9  2515  15  ...

    Total Offense First Downs               Penalties      Unnamed: 23_level_0  \
              Avg        Pass Rush Pen  Tot       No.  Yds                 Fum
 0            5.5           7    4   0   12         5   44                   0
 1            1.5           2    2   2    6         2   27                   1
 2            7.1          18    7   1   26         7   45                   0
 3            4.1           3    7   0   10         4   40                   0
 4            5.3           8    4   2   14         9   79                   2
 5            4.7           9    6   0   15         6   40                   2
 6            5.5          11    6   1   18         8   75                   1
 7            4.6           3    7   0   10        10   61                   0
 8            5.6           4    8   0   12         4   30                   0
 9            5.2           9    7   1   17         8   67                   0
 10           5.1          15    6   3   24         4   20                   0
 11           5.0           5    4   3   12         1   10                   2
 12           6.8           9   12   0   21         4   35                   0
 13           5.2         103   80  13  197        72  573                   8

    Unnamed: 24_level_0 Unnamed: 25_level_0
                    Int                  TO
 0                    1                   1
 1                    0                   1
 2                    1                   1
 3                    1                   1
 4                    1                   3
 5                    0                   2
 6                    1                   2
 7                    0                   0
 8                    0                   0
 9                    2                   2
 10                   1                   1
 11                   0                   2
 12                   0                   0
 13                   8                  16

 [14 rows x 26 columns]]

In [29]:
columns_to_keep = ["Passing", "Rushing", "Total Offense", "Turnovers"]

# Drop all other columns
offGameLog[0] = offGameLog[0][columns_to_keep]

In [30]:
new_columns = pd.MultiIndex.from_tuples([
    ('Off Passing', 'Cmp'),
    ('Off Passing', 'Att'),
    ('Off Passing', 'Pct'),
    ('Off Passing', 'Yds'),
    ('Off Passing', 'TD'),
    ('Off Rushing', 'Att'),
    ('Off Rushing', 'Yds'),
    ('Off Rushing', 'Avg'),
    ('Off Rushing', 'TD'),
    ('Off Total Offense', 'Plays'),
    ('Off Total Offense', 'Yds'),
    ('Off Total Offense', 'Avg'),
    ('Off Turnovers', 'Fum'),
    ('Off Turnovers', 'Int'),
    ('Off Turnovers', 'TO')
])

# Assign the new column structure to the DataFrame
offGameLog[0].columns = new_columns

offGameLog[0]

   Off Passing                     Off Rushing                 \
           Cmp  Att   Pct   Yds TD         Att   Yds  Avg  TD
0            3    5  60.0    50  0          67   370  5.5   5
1            3   10  30.0    49  0          59   176  3.0   3
2            6   12  50.0   182  1          61   438  7.2   5
3            2    5  40.0    70  0          73   446  6.1   4
4            1    2  50.0    33  0          73   408  5.6   5
5            7   10  70.0   110  1          64   211  3.3   2
6            1    5  20.0    59  0          63   307  4.9   3
7            5   15  33.3    67  1          48   192  4.0   1
8           13   23  56.5   226  1          48   176  3.7   0
9            4   11  36.4   121  2          69   388  5.6   3
10           1    5  20.0    23  0          83   476  5.7   5
11           0    0   NaN     0  0          69   511  7.4   6
12           9   10  90.0   252  2          55   170  3.1   2
13          55  113  48.7  1242  8         832  4269  5.1  44

   Off Total Offense            Off Turnovers
               Plays   Yds  Avg           Fum Int TO
0                 72   420  5.8             0   0  0
1                 69   225  3.3             0   0  0
2                 73   620  8.5             1   1  2
3                 78   516  6.6             0   0  0
4                 75   441  5.9             0   0  0
5                 74   321  4.3             1   0  1
6                 68   366  5.4             1   0  1
7                 63   259  4.1             1   1  2
8                 71   402  5.7             0   1  1
9                 80   509  6.4             0   1  1
10                88   499  5.7             1   0  1
11                69   511  7.4             0   0  0
12                65   422  6.5             0   0  0
13               945  5511  5.8             5   4  9

In [31]:
columns_to_keep = ["Passing", "Rushing", "Total Offense", "Unnamed: 23_level_0", "Unnamed: 24_level_0", "Unnamed: 25_level_0"]

# Drop all other columns
defGameLog[0] = defGameLog[0][columns_to_keep]

In [27]:
new_columns = pd.MultiIndex.from_tuples([
    ('Def Passing', 'Cmp'),
    ('Def Passing', 'Att'),
    ('Def Passing', 'Pct'),
    ('Def Passing', 'Yds'),
    ('Def Passing', 'TD'),
    ('Def Rushing', 'Att'),
    ('Def Rushing', 'Yds'),
    ('Def Rushing', 'Avg'),
    ('Def Rushing', 'TD'),
    ('Def Total Offense', 'Plays'),
    ('Def Total Offense', 'Yds'),
    ('Def Total Offense', 'Avg'),
    ('Def Turnovers', 'Fum'),
    ('Def Turnovers', 'Int'),
    ('Def Turnovers', 'TO')
])

# Assign the new column structure to the DataFrame
defGameLog[0].columns = new_columns

In [33]:
defGameLog[0]

   Passing                      Rushing                Total Offense        \
       Cmp  Att   Pct   Yds  TD     Att   Yds  Avg  TD         Plays   Yds
0       18   29  62.1   243   1      23    44  1.9   1            52   287
1        3   10  30.0    32   0      34    36  1.1   0            44    68
2       31   50  62.0   448   5      39   180  4.6   2            89   628
3       11   33  33.3    78   0      20   141  7.1   1            53   219
4       14   23  60.9   179   1      20    47  2.4   0            43   226
5       11   28  39.3   143   1      27   114  4.2   1            55   257
6       23   36  63.9   259   1      25    78  3.1   1            61   337
7       11   13  84.6    72   0      37   159  4.3   2            50   231
8        8   13  61.5   214   1      43   102  2.4   2            56   316
9       13   22  59.1   173   0      37   135  3.6   3            59   308
10      26   43  60.5   340   4      27    18  0.7   1            70   358
11       8   18  44.4   127   0      25    87  3.5   2            43   214
12      13   22  59.1   207   1      37   192  5.2   2            59   399
13     190  340  55.9  2515  15     394  1333  3.4  18           734  3848

        Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
    Avg                 Fum                 Int                  TO
0   5.5                   0                   1                   1
1   1.5                   1                   0                   1
2   7.1                   0                   1                   1
3   4.1                   0                   1                   1
4   5.3                   2                   1                   3
5   4.7                   2                   0                   2
6   5.5                   1                   1                   2
7   4.6                   0                   0                   0
8   5.6                   0                   0                   0
9   5.2                   0                   2                   2
10  5.1                   0                   1                   1
11  5.0                   2                   0                   2
12  6.8                   0                   0                   0
13  5.2                   8                   8                  16

In [35]:
team_data = offGameLog[0].merge(games[0], left_index=True, right_index=True)
team_data = defGameLog[0].merge(games[0], left_index=True, right_index=True)
team_data

   Passing                   Rushing              Total Offense  ...  \
       Cmp Att   Pct  Yds TD     Att  Yds  Avg TD         Plays  ...
0       18  29  62.1  243  1      23   44  1.9  1            52  ...
1        3  10  30.0   32  0      34   36  1.1  0            44  ...
2       31  50  62.0  448  5      39  180  4.6  2            89  ...
3       11  33  33.3   78  0      20  141  7.1  1            53  ...
4       14  23  60.9  179  1      20   47  2.4  0            43  ...
5       11  28  39.3  143  1      27  114  4.2  1            55  ...
6       23  36  63.9  259  1      25   78  3.1  1            61  ...
7       11  13  84.6   72  0      37  159  4.3  2            50  ...
8        8  13  61.5  214  1      43  102  2.4  2            56  ...
9       13  22  59.1  173  0      37  135  3.6  3            59  ...
10      26  43  60.5  340  4      27   18  0.7  1            70  ...
11       8  18  44.4  127  0      25   87  3.5  2            43  ...
12      13  22  59.1  207  1      37  192  5.2  2            59  ...

   Game Info                                                                 \
    Location              Opponent       Conf Outcome Pts Opp   W  L Streak
0          H             Lafayette  Non-Major       W  35  14   1  0    W 1
1          @                  Navy   American       W  23   3   2  0    W 2
2          H            Utah State        MWC       L  45  49   2  1    L 1
3          H      Florida Atlantic       CUSA       W  31   7   3  1    W 1
4          @            New Mexico        MWC       W  38  10   4  1    W 2
5          H               Wyoming        MWC       W  24  14   5  1    W 3
6          @           Boise State        MWC       W  24  17   6  1    W 4
7          H  (22) San Diego State        MWC       L  14  20   6  2    L 1
8          N                  Army        Ind       L  14  21   6  3    L 2
9          @        Colorado State        MWC       W  35  21   7  3    W 1
10         @                Nevada        MWC       W  41  39   8  3    W 2
11         H      Nevada-Las Vegas        MWC       W  48  14   9  3    W 3
12         N            Louisville        ACC       W  31  28  10  3    W 4


                                                Notes
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                  Globe Life Park - Arlington, Texas
9                                                 NaN
10                                                NaN
11                                                NaN
12  First Responder Bowl (Gerald J. Ford Stadium -...

[13 rows x 30 columns]

In [36]:
years = list(range(2022,2020,-1))

In [35]:
import time
for year in years:
    data = requests.get(standings_url)
    soup = BeautifulSoup(data.text)
    
    links = [l.get("href") for l in standings_table.find_all('a')]
    links = [l for l in links if 'schools' in l]
    team_urls = [f"https://sports-reference.com{l}" for l in links]

    for team_url in team_urls:
        team_name = team_url.split("/")[-1].replace("-", " ")
        data = requests.get(schedule_url))
        games = pd.read_html(data.text, match="Games")



        team_data["Season"] = year
        team_data["Team] = team_name
        all_games.append(team_data)
        time.sleep(1)

SyntaxError: unmatched ')' (2482734351.py, line 11)

In [ ]:
team_url.split("/")[-2].replace("-", " ").capwords()